body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 15px
}
#hi{
    background: -webkit-linear-gradient(rgb(255, 174, 0), rgb(218, 134, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#intro{
    margin-top: 7%;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-bottom: 40px;
    padding-left: 2%;
}
.half-width img {
        width: 100%;

}

.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(255, 10, 10), rgb(255, 136, 0)
    );
    padding: 8px 20px;
    border-radius: 10px;
    font-weight: 700;
}
span{
    font-size: 45px;
    padding: 10px 20px;
    margin-left: 25% ;
    margin-top: 10%;
    margin-bottom: 20%;  
    color: khaki;
    background-image: url(img/lwp.png) ;
    Background-size : contain
}
.sec2{
    padding-top: 200px;
}
.sec3{
    height: 300px;
}
.half-width1{
    vertical-align: middle;
    text-align: center;
}
.box{
    height: 200px;
    width: 350px;
    float: left;
    margin-left: 20px;
}
.box img{
    width: 100%;
}
.textbox{
    text-align: ;
}
section{
    height: 500px;
    clear: both;

}
.r{
    height: 100px;
}
.lwp{
    text-align: center;
}
.sp{
    background-image: linear-gradient(rgb(255, 10, 10), rgb(255, 136, 0)
    );
    border-radius: 10px;
    margin-left: 0%;
}
.imgsize{
    width: 30%;
    float: left;
    padding: left 200px;;
    text-align: center;
    margin: 1%;
    box-shadow: 10px 10px 5px grey;
}
.imgsize img{
    width: 100%;
}